.container-main{
	&--title{
		font-size: 28px;
		font-family: 'Sans-serif';
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
		span{
			display: block;
		}
		@media(min-width: 1024px){
			margin-bottom: 65px;
		}
	}
}